<style>
body{
    margin: auto;
    background-color: Lightgrey;
    text-align: center;
    
}
h1{
    font-size: 50px;
    text-decoration-line: underline;
    text-decoration-style: solid;
}
ul{
    list-style-type: none;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 1em;    
    margin-right: 15em;
    margin-left: 15em;
    font-size: 18px;
}
a{
    font-size: 25px;
}
button{
    background-color: Lightblue;
    border-radius: 20px;
    
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
input{
    width: 5%;
    padding: 1em;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: red;
    color: white;
    font-size: 15px;
    
    
}


</style>



<body>
    <div>
        <h1> Your Garage </h1>

        <% @cars.each do |car| %>
            
            <ul>
                <li> <a href='/cars/<%= car.id %>'> <%= car.make_model_year %> </a>  </li>
            </ul>
            
            <form method=POST action='/cars/<%= car.id %>'>
                <input type="hidden" name=_method value="delete">
                <input type="submit" name='' value="Delete">
            </form>

        <% end %>
    </div>
    <br>
    <br>
    <br>
    <button><a href="cars/new">Add a new Car</a></button>
</body> 