<style>
body{
    margin: auto;
    background-color: Lightgrey;
    text-align: center;
}
div{
    margin: auto;
    
}
h1{
    text-decoration-line: underline;
    text-decoration-style: solid;
}
ul{
    list-style-type: none;
}
form{
    margin-right: 37em;
    display: block;
    text-align: right;
}
label{
    font-size: 20px;
    font-weight: bold;
}
input{
    font-size: 18px;
    margin: 1em;
}
button{
    background-color: Lightblue;
    border-radius: 20px;
    margin-bottom: 2em;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
#submit-button{
    width: 25%;
    padding: 1em;
    margin: 1em;
    box-sizing: border-box;
    background-color: red;
    color: white;
    font-size: 15px;
    
}


</style>

<body>
    <% array = ["year", "make", "model", "color", "horsepower", "mileage", "fuel_econ_mpg"] %> <!-- array for pushing in attributes -->
    <div>
        <h1> Create A New Car!!! </h1>
    </div>
    <div>
        <form method=POST action='/cars'>
        
        <% array.each do |att| %>
            <label> <%=att%> </label>
            <input required type="text" name=<%= "#{att}" %> ><br>
        <%end%>
            <input id="submit-button" type='submit' value="Add New Vehicle">
        </form>
    </div>
    <div>
        <button><a href="/cars">Back to Home</a></button>
    </div>
</body>