<style>
body{
    display: flex;
    background-color: Lightgrey;
    text-align: center;
    font-size: 25px;
}
div{
    margin: auto;
}
h1{
    text-decoration-line: underline;
    text-decoration-style: solid;
}
form{
    text-align: right;
}
label{
    font-size: 20px;
    font-weight: bold;
}
input{
    font-size: 18px;
    margin: 1em;   
}
ul{
    padding: 2em;
    margin-bottom: 5px;
    
}
li{
    text-decoration-line: underline;
    text-decoration-style: solid;
    padding: 2px;
    font-size: 24px;
}
button{
    background-color: Lightblue;
    border-radius: 20px;
    margin-bottom: 2em;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
</style>


<div>
    <h1> <%= @car.make_model_year %> </h1>                     <!--method in Model 'Car' -->
    <ul id="single-car-list">
        <% @car.attributes.each do |key, value|%>               <!--take the instance attributes and steals key and values. autofills text boxes-->
            <%if key != "id" %>
                <li> <%= "#{key}: #{value}" %> </li>
            <% end %> 
        <% end %>
    </ul>
    <button><a href="/cars/<%= @car.id %>/edit">Edit this Car</a></button> <br>
    <button><a href="/cars">Back to Home</a></button>
</div>